{% extends "::base.html.twig" %}

{% block title %}AppBundle:Job:index{% endblock %}

{% block body %}
    {% for job in pagination %}
        <div class="row offer">
            <div class="col-md-2">
                <img src="{{ job.logo }}" tag="{{ job.companyName }} logo">
            </div>
            <div class="col-md-8">
                <h4 class="blue">{{ job.position }}</h4>
                <p class="bright">{{ job.companyName }}</p>
                <h6>{{ job.location }}</h6>
            </div>
            <div class="col-md-2 bright date">
                <h6>Data dodania</h6>
                <p>{{ job.publishedAt|date('d/m/Y') }}</p>
            </div>
        </div>
    {% endfor %}
    
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
