{% extends "::base.html.twig" %}

{% block title %}Wyniki wyszukiwania dla "{{ query }}"{% endblock %}

{% block body %}

    <h1>{{ block('title') }}</h1>

    {% if jobs|length > 0 %}
        <p>Znaleziono {{ jobs|length }} ofert spełniających kryteria.</p>
    {% else %}
        <p>Nie znaleziono żadnych produktów spełniających kryteria wyszukiwania. Spróbuj wyszukać ponownie</p>
    {% endif %}

    <form action="{{ path('job_search') }}" class="navbar-form" role="search">
        <div class="form-group">
            <input type="text" name="query" value="{{ query }}" class="form-control" placeholder="Szukaj ofert">
        </div>
        <button type="submit" class="btn btn-default">Szukaj</button>
    </form>
    {% for job in jobs %}
        <div class="row offer">
            <div class="col-md-2">
                <img src="{{ job.logo }}" tag="{{ job.companyName }} logo">
            </div>
            <div class="col-md-8">
                <h4 class="blue">{{ job.position }}</h4>
                <p class="bright">{{ job.companyName }}</p>
                <h6>{{ job.location }}</h6>
            </div>
            <div class="col-md-2 bright date">
                <h6>Data dodania</h6>
                <p>{{ job.publishedAt|date('d/m/Y') }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}