{% extends "::base.html.twig" %}

{% block title %}AppBundle:Job:show_jobs{% endblock %}

{% block body %}
    {% for job in jobs %}
        <a href="{{ path('show_job', {'id':job.id}) }}">
            <div class="row offer">
                <div class="col-md-2">
                    <img src="{{ job.logo }}" tag="{{ job.companyName }} logo">
                </div>
                <div class="col-md-2 bright">
                    <h4>Stanowisko:</h4>
                    <p >Firma:</p>
                    <h6>Lokalizacja:</h6>
                </div>
                <div class="col-md-6">
                    <h4 class="blue">{{ job.position }}</h4>
                    <p class="bright">{{ job.companyName }}</p>
                    <h6>{{ job.location }}</h6>
                </div>
                <div class="col-md-2 bright date">
                    <h6>Data dodania</h6>
                    <p>{{ job.publishedAt|date('d/m/Y') }}</p>
                </div>
            </div>
        </a>
    {% endfor %}

{% endblock %}
{# empty Twig template #}
